@font-face {
  font-family: "title";
  src: url("../assets/mj-alghifari.regular.ttf");
}

.title {
  font-display: auto;
  font-family: "title", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
  text-align: center;
}

.hero {
  height: 100vh;
  background-image: url("../assets/firewatch-background.jpg");
  background-position: bottom;
  background-size: cover;
  color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.description {
  padding: 32px;
}