@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #02002a;
  color: white;
}

.heroContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
